{% extends "layout.html" %}
{% block body %}

<main role="main" class="container">
    <div action= "{{ url_for('tweets') }}" method="get" class="my-3 p-3 bg-main-container rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0 text-title-container">Recent Tweets</h6>
        {% for tweet in tweets %}
        <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="{{tweet.user.profile_image_url}}" data-holder-rendered="true">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-bold-tweet">@{{tweet.user.screen_name}}</strong>
            <label class="text-text-tweet">[{{tweet.id}}]: {{ tweet.text }}</label>
            </p>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}
